---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Rideam | Privacy policy" includeSidebar={false}>


  <h2 class="font-semibold mb-4 text-3xl">Privacy Policy</h2>
  <i>Last modified: 6 April 2025</i>

  <div class="mt-8">
    <h4 class="font-semibold mb-4">Accepting the Terms</h4>
    <p>By accessing and using any applications developed by <b>Rideam</b> you agree to this Privacy policy</p>
  </div>

  <div class="mt-4">
    <h4 class=" font-semibold mb-4">Information We Collect</h4>
    <p>We do not collect any personal data or share personal data with any third-party advertisers or
      ad networks for their advertising purposes.</p>
  </div>

  <div class="mt-4">
    <h4 class=" font-semibold mb-4">Sensitive Data</h4>
    <p>By downloading and using any application from <b>Rideam</b>, we do not assume that you are of
      any particular religious denomination or are expressing to us any particular religious belief; we merely
      assume that you are interested in our applications. We do not require that users provide such beliefs to
      us or
      provide any other sensitive data such as race, ethnicity, philosophical beliefs, or physical or mental
      health.</p>
  </div>

  <div class="mt-4">
    <h4 class=" font-semibold mb-4">Third-party Information Collection</h4>
    <p>This Privacy Policy applies only to sites and applications that are owned and operated by Flatha
      Technologies Inc. Please keep in mind that <b>Rideam</b> applications may contain links to other
      websites or apps. You are responsible for reviewing the privacy statements and policies of those other
      websites you choose to link to or from our apps, so that you can understand how those websites collect,
      use and store your information. We are not responsible for the privacy statements, policies or content
      of other websites or apps, including websites you link to or from <b>Rideam</b> applications.
      Websites containing co-branding (referencing our name and a third party’s name) containing
      content delivered by the third party and not us.</p>
  </div>

  <div class="mt-4">
    <h4 class=" font-semibold mb-4">Changes to Our Privacy Policy</h4>
    <p>We may update our Privacy Policy from time to time to reflect changes in our practices. We will post any
      changes to our Privacy Policy on this page. The date the Privacy Policy was last modified is identified
      at the top of the page. </p>
  </div>

  <div class="mt-4">
    <h4 class=" font-semibold mb-4">Children Under the Age of 13</h4>
    <p>We do not collect personal information from any person we actually know is under the age of 13 without
      the consent of the parent or legal guardian of that minor. A parent or guardian may consent to the use
      of <b>Rideam</b> apps by a minor, in which case a parent or guardian is solely responsible for
      providing supervision of the minor’s use of <b>Rideam</b> apps and assumes full responsibility
      for the interpretation and use of any information or suggestions provided through the apps.</p>
  </div>


</BaseLayout>
