---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Rideam | Support my Work"
            description="If you find my work helpful you can support it donating the amount you can with any of these methods.">
  <p class="my-10 mx-auto text-center md:px-20">
    If you find my work helpful you can support it donating the amount you can with any of these methods.
  </p>

  <div class="gap-6 flex-col flex">

    <a href="https://www.paypal.com/donate/?hosted_button_id=NBZNGMC6599WY" target="_blank"
       class="btn btn-outline w-full md:w-96 gap-2 flex justify-between m-auto">
      <img src="/support/paypal.svg" class="w-11 h-11"/>
      <div>Paypal</div>
      <div class="w-9 h-9"></div>
    </a>

  </div>
</BaseLayout>
